.back {
    background-image: url('https://media.giphy.com/media/UYBDCJjwOd9Re/giphy.gif');
    background-position: cover;
    background-size: 100%;
    background-repeat: repeat;
    overflow-x: hidden;
}
